<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Neuronia' の Application Insights のリソース 'Neuronia' に対応するものです -->
  <InstrumentationKey>1c1abe4e-3914-4f51-93d2-70aed589d75a</InstrumentationKey>
</ApplicationInsights>